[Interface]
# Key for your-connection-name
PrivateKey = YOUR_PRIVATE_KEY_HERE
Address = 10.2.0.2/32
DNS = 10.2.0.1

[Peer]
# Example-Server-Location
PublicKey = YOUR_PEER_PUBLIC_KEY_HERE
AllowedIPs = 0.0.0.0/0, ::/0
Endpoint = 203.0.113.1:51820
PersistentKeepalive = 25
